*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

a, a:hover, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p {
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-family: "Vidaloka", sans-serif;
}

body .header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  background-color: #FCF7F4;
}
body .header .header__bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
body .header .header__title {
  text-align: center;
  font-size: 4rem;
  padding-bottom: 0.2em;
}
body .header .header__title .header__title--pink {
  color: #E49497;
}
body .header .header__title .header__title--block {
  display: block;
}
body .header .header__date {
  font-family: "Kurale", sans-serif;
  font-size: 1.6rem;
  color: #808080;
}
body .content {
  padding: 0 1.5em;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
body .content .content__imageWrapper {
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 5em;
}
body .content .content__imageWrapper .content__img {
  border-radius: 50%;
  border: 10px solid #E49497;
  position: relative;
  z-index: 10;
}
body .content .content__imageWrapper .content__imgBG1,
body .content .content__imageWrapper .content__imgBG2 {
  position: absolute;
  width: 50%;
}
body .content .content__imageWrapper .content__imgBG1 {
  top: -15%;
  left: -15%;
}
body .content .content__imageWrapper .content__imgBG2 {
  bottom: -15%;
  right: -15%;
  transform: rotate(180deg);
}
body .content .content__text {
  order: 2;
}
body .content .content__text .content__text--signature {
  font-size: 1.9rem;
}
body .content .content__text .content__text--block {
  display: block;
  margin: 0.3em 0;
}
body .content .content__text .content__text--pink {
  color: #E49497;
}
body .content .content__text .content__text--grey {
  color: #808080;
}
body .countdown {
  background-color: #FCF7F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  margin-bottom: 2em;
}
body .countdown .countdown__title {
  font-size: 3rem;
  font-family: "Kurale", sans-serif;
  color: #E49497;
  margin-bottom: 1em;
}
body .countdown .countdown-wrapper {
  display: flex;
}
body .countdown .countdown-wrapper .countdown__containerDay {
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .countdown .countdown-wrapper .countdown__containerDay .countdown__unit {
  font-size: 3.4rem;
  font-family: "Kurale", sans-serif;
  margin-bottom: 0.2em;
}
body .countdown .countdown-wrapper .countdown__containerDay .countdown__unitSub {
  color: #808080;
}
body .schedule {
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
}
body .schedule .schedule__title {
  font-size: 2rem;
  margin-bottom: 1.5em;
}
body .schedule .card {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(4px);
  border-radius: 15px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 2em;
}
body .schedule .card .card__header {
  background-color: #E49497;
  color: white;
  border-radius: 15px 15px 0px 0px;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .schedule .card .card__header .card__left .card__title {
  color: #2D2D2D;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.2em;
}
body .schedule .card .card__header .card__right .fa-bell {
  transform: rotate(20deg);
}
body .schedule .card .card__header .card__right .card__icon {
  font-size: 3rem;
}
body .schedule .card .card__content {
  padding: 2em 1em;
  line-height: 20px;
  position: relative;
}
body .schedule .card .card__content::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #E49497;
  opacity: 0.3;
  width: 100%;
  position: absolute;
  bottom: -10px;
  margin: auto;
}
body .schedule .card__footer {
  padding: 2em 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .schedule .card__footer .card__link {
  padding-top: 1em;
  color: #808080;
}
body .schedule .card__footer .card__link .fas {
  margin-right: 0.2em;
}
body .cta-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5em;
}
body .cta-wrapper .CTA {
  font-family: "Kurale", sans-serif;
  font-size: 1.4em;
  background-color: #E49497;
  color: white;
  padding: 1em 2em;
  border-radius: 20px;
}
body .footer {
  background-color: #FCF7F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .footer .footer__text {
  padding: 1.5em 0;
  color: #808080;
  font-size: 1.3rem;
}

/*# sourceMappingURL=styles.css.map */
