*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

a, a:hover, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p {
  font-family: "Poppins", sans-serif;
}

h1, h2 {
  font-family: "Vidaloka", sans-serif;
}

body {
  color: #2D2D2D;
}
body .header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5em;
  background-color: #FCF7F4;
}
body .header .header__bg {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
body .header .header__title {
  text-align: center;
  font-size: clamp(4.5rem, 3.6rem + 4.5vw, 9rem);
  padding-bottom: 0.2em;
}
body .header .header__title .header__title--pink {
  color: #565E46;
}
body .header .header__title .header__title--block {
  display: block;
  color: #808080;
}
body .header .header__date {
  font-family: "Kurale", sans-serif;
  font-size: clamp(1.6rem, 1.44rem + 0.8vw, 2.4rem);
  color: #808080;
}
body .content {
  padding: 0 1.5em;
  line-height: 20px;
  display: flex;
  flex-direction: column;
  margin: auto auto 4em auto;
  max-width: 1920px;
}
body .content .content__imageWrapper {
  position: relative;
  width: 50vw;
  margin: auto auto 5em auto;
}
body .content .content__imageWrapper .content__img {
  position: relative;
}
body .content .content__imageWrapper .content__imgBG1,
body .content .content__imageWrapper .content__imgBG2 {
  position: absolute;
  width: 50%;
}
body .content .content__imageWrapper .content__imgBG1 {
  top: -15%;
  left: -15%;
}
body .content .content__imageWrapper .content__imgBG2 {
  bottom: -15%;
  right: -15%;
  transform: rotate(180deg);
}
body .content .content__text {
  order: 2;
}
body .content .content__text .content__text--signature {
  font-size: 1.9rem;
}
body .content .content__text .content__text--block {
  display: block;
  margin: 0.3em 0;
}
body .content .content__text .content__text--pink {
  color: #565E46;
}
body .content .content__text .content__text--grey {
  color: #808080;
}
body .countdown {
  background-color: #FCF7F4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  margin-bottom: 4em;
}
body .countdown .countdown__title {
  font-size: clamp(3rem, 2.2rem + 4vw, 7rem);
  font-family: "Kurale", sans-serif;
  color: #565E46;
  margin-bottom: 1em;
}
body .countdown .countdown-wrapper {
  display: flex;
}
body .countdown .countdown-wrapper .countdown__containerDay {
  padding: 0 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .countdown .countdown-wrapper .countdown__containerDay .countdown__unit {
  font-size: clamp(3.4rem, 2.08rem + 6.6vw, 9rem);
  font-family: "Kurale", sans-serif;
  margin-bottom: 0.2em;
  color: #2D2D2D;
  padding: 0 0.2em;
}
body .countdown .countdown-wrapper .countdown__containerDay .countdown__unitSub {
  color: #808080;
}
body .timeline {
  max-width: 80%;
  margin: auto;
  margin-bottom: 4.5em;
}
body .timeline .timeline__title {
  font-family: "Kurale";
  text-align: center;
  color: #2D2D2D;
  margin-bottom: 1em;
  font-size: clamp(3rem, 2.2rem + 4vw, 6rem);
}
body .timeline .component__wrapper {
  display: flex;
  justify-content: space-around;
}
body .timeline .component__wrapper .component__line {
  position: relative;
  width: 2px;
  background-color: #808080;
  opacity: 0.6;
}
body .timeline .component__wrapper .component__line .component__dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #565E46;
  top: 0;
  left: 50%;
  opacity: 1;
  transform: translateX(-50%);
  border-radius: 50%;
}
body .timeline .component__wrapper .component__imgwrapper--desktop .component__img--desktop {
  display: none;
}
body .timeline .component__wrapper .component {
  width: 70%;
  color: #2D2D2D;
}
body .timeline .component__wrapper .component .component__header {
  margin-bottom: 1.3em;
}
body .timeline .component__wrapper .component .component__header .component__title {
  font-size: 2.4rem;
  font-family: "Kurale", sans-serif;
  font-weight: bold;
}
body .timeline .component__wrapper .component .component__header .component__date {
  color: #565E46;
  font-size: 1.4rem;
}
body .timeline .component__wrapper .component .component__imgwrapper {
  border-radius: 6px;
  margin-bottom: 1.3em;
}
body .timeline .component__wrapper .component .component__imgwrapper .component__img {
  object-fit: cover;
  width: 100%;
  min-height: 300px;
  max-height: 300px;
  border-radius: 6px;
}
body .timeline .component__wrapper .component .component__content {
  line-height: 22px;
  margin-bottom: 2.5em;
  position: relative;
}
body .timeline .component__wrapper .component .component__content .component__content--black {
  display: block;
}
body .timeline .component__wrapper .component .component__content::after {
  content: "";
  display: block;
  width: 100%;
  position: absolute;
  background-color: #808080;
  opacity: 0.6;
  height: 1px;
  bottom: -20px;
  left: 0;
}
body .timeline .component__wrapper .component .component__footer .component__address {
  margin-bottom: 0.4em;
}
body .timeline .component__wrapper .component .component__footer .component__map {
  color: #808080;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
body .timeline .component__wrapper:not(:first-of-type) .component__line .component__dot {
  top: 4em;
}
body .timeline .component__wrapper:not(:first-of-type) .component {
  padding-top: 3.5em;
}
body .cta-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 4.5em;
}
body .cta-wrapper .CTA {
  font-family: "Kurale", sans-serif;
  font-size: 1.4em;
  background-color: #565E46;
  color: white;
  padding: 1em 2em;
  border-radius: 30px;
}
body .footer {
  background-color: #FCF7F4;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .footer .footer__text {
  padding: 1.5em 0;
  color: #808080;
  font-size: 1.3rem;
}

@media screen and (min-width: 960px) {
  body .content {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5em;
  }
  body .content .content__text {
    width: 45%;
    order: 0;
  }
  body .content .content__imageWrapper {
    margin: 0;
    max-width: 350px;
  }
  body .timeline {
    max-width: 1440px;
    padding: 0 4em;
  }
  body .timeline .component__wrapper {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
    gap: 3em;
  }
  body .timeline .component__wrapper .component {
    order: 0;
    width: 100%;
  }
  body .timeline .component__wrapper .component .component__imgwrapper .component__img {
    display: none;
  }
  body .timeline .component__wrapper .component__line {
    order: 1;
  }
  body .timeline .component__wrapper .component__imgwrapper--desktop {
    order: 2;
    max-height: 400px;
    border-radius: 10px;
  }
  body .timeline .component__wrapper .component__imgwrapper--desktop .component__img--desktop {
    border-radius: 10px;
    display: block;
    object-fit: cover;
    max-height: 300px;
    width: 100%;
  }
  body .timeline .component__wrapper:not(:first-of-type) .component__imgwrapper--desktop {
    padding-top: 4em;
  }
  body .timeline .component__wrapper:nth-child(odd) .component__imgwrapper--desktop {
    order: 0;
  }
  body .timeline .component__wrapper:nth-child(odd) .component {
    order: 2;
  }
}

/*# sourceMappingURL=styles.css.map */
